* {
  box-sizing: border-box;
}

input {
  display: none;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.wrapper-content {
  width: 60%;
  margin: 0 auto;
}

.header {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  padding: 3vh 0 3vh 5vw;
}

.block-content {
  border-top: 0.125rem solid rgb(212, 208, 208);
}

.block-title {
  padding: 3vh 0 3vh 5vw;
  display: flex;
  justify-content: space-between;
  transition: background-color 1s ease-out;
}

.title {
  font-size: 2rem;
  color: rgb(98, 98, 177);
}

.block-mem {
  display: block;
}

.button {
  font-size: 1rem;
  opacity: 0;
  padding-right: 1vw;
  line-height: 2rem;
  transition: opacity 1.5s ease-out, transform 0.2s ease-out;
}

.img-mem {
  display: block;
  margin: 0 auto;
  width: 0;
  opacity: 0;
  transition: width 0.5s ease-in-out, opacity 1s ease-in-out;
}

input:checked + .block-mem .img-mem {
  width: 70%;
  padding-bottom: 4vh;
  opacity: 1;
}

input:checked + .block-mem .title {
  color: #000000;
}

input:checked + .block-mem .button {
  transform: rotate(180deg);
  padding-left: 1vw;
  padding-right: 0;
}

@media (hover: hover) {
  .block-mem:hover {
    cursor: pointer;
  }

  .block-mem:hover .block-title {
    background-color: rgb(250, 250, 250);
  }

  .container-content:hover .button {
    opacity: 1;
  }
  
  .block-mem:hover .button {
    transform: rotate(180deg);
    padding-left: 1vw;
    padding-right: 0;
  }

  .block-mem:hover .img-mem {
    padding-bottom: 4vh;
    width: 70%;
    opacity: 1;
  }

  .container-content:hover .title {
    color: #000000;
  }
}

@media (hover: none) {
  .button {
    opacity: 1;
  }
}

/* @media (min-width: 1420px) {
}

@media (min-width: 768px) and (max-width: 1419px) {
} */

/* @media (min-width: 320px) and (max-width: 767px) {
} */